body {
	background: black;
	color: white;
	font-family: Ubuntu, sans-serif;
}

.time {
	font-size: 7em;
	text-align: center;
}

.date {
	font-size: 2.5em;
	text-align: center;
}

.bottom {
	font-size: 1em;
	margin: 5px;
}

table.bottom td  {
  padding: 5px;
}

.weather {
	font-size: 6em;
	margin-right: 20px;
}

.container_time {
	position: absolute;
	top: 10px;
	left: 10px;
}

.container_music {
	font-size: 1.8em;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.container_switches {
	font-size: 1.8em;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.container_weather {
	font-size: 5em;
	text-align: right;
	position: absolute;
	top: 10px;
	right: 10px;
}

.elem {
	
}
